In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int)

In [5]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
39 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Anaconda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Anaconda\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Anaconda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Anaconda\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.78978709 0.80769904 0.78710132 0.81061577
        nan        nan 0.79543077 0.81135193 0.80158793 0.81190493
        nan        nan 0.78858623 0.8079523  0.78797729 0.80993366
        nan        nan 0.78968058 0.80583126 0.79066034 0.80732277]
  warnings.warn(
C:\Anaconda\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
 # print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test)
# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}: 0.8713869308109965

In [13]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000000,0.000000,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.000000,0.000000,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.051295,0.006441,0.006470,0.007931,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.855914,0.772786,0.765943,0.809758,0.744534,0.789787,0.039184,12
3,0.388560,0.016059,0.013788,0.003167,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.864633,0.789435,0.793369,0.819873,0.771185,0.807699,0.032440,6
4,0.045840,0.002526,0.000000,0.000000,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.842141,0.766021,0.780388,0.784302,0.762654,0.787101,0.028721,16
5,0.391464,0.007316,0.014868,0.001685,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.867525,0.793872,0.803416,0.818806,0.769460,0.810616,0.032655,3
6,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.003361,0.006230,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.112685,0.006064,0.001455,0.001868,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.835880,0.781029,0.787402,0.830027,0.742816,0.795431,0.034273,10
9,0.936156,0.016950,0.015877,0.001404,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.863453,0.799908,0.803593,0.817240,0.772566,0.811352,0.029815,2
10,0.098677,0.006832,0.000000,0.000000,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.855345,0.781043,0.808364,0.798563,0.764626,0.801588,0.030768,9
11,0.948574,0.021329,0.016393,0.003751,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.861029,0.795696,0.810439,0.821443,0.770917,0.811905,0.029829,1
12,0.000202,0.000404,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.001805,0.003610,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.044011,0.006376,0.003358,0.006716,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.838323,0.759686,0.789731,0.806993,0.748197,0.788586,0.032498,14
15,0.374389,0.014267,0.012667,0.006336,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859382,0.789245,0.797649,0.824979,0.768506,0.807952,0.031455,5
16,0.048013,0.003639,0.004149,0.005930,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.839085,0.757404,0.780914,0.808761,0.753722,0.787977,0.032255,15
17,0.378703,0.019395,0.017466,0.003123,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.866085,0.795725,0.796615,0.816230,0.775015,0.809934,0.030955,4
18,0.000000,0.000000,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.000000,0.000000,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.046258,0.001720,0.000000,0.000000,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.844452,0.763948,0.791588,0.784150,0.764265,0.789681,0.029469,13
21,0.409845,0.014652,0.013700,0.006107,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.858605,0.790090,0.800308,0.810883,0.769271,0.805831,0.029751,8
22,0.047007,0.001202,0.000000,0.000000,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.828130,0.788331,0.778930,0.792964,0.764947,0.790660,0.021041,11
23,0.380213,0.038170,0.009395,0.006171,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.853452,0.796936,0.794377,0.818563,0.773286,0.807323,0.027160,7

In [14]:
import pickle
filename="FinalModel_RFG.sav"
pickle.dump(grid,open(filename,'wb'))

In [15]:
load_model=pickle.load(open("FinalModel_RFG.sav",'rb'))
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:28
BMI:26.3
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[48113.94]